# {{ ansible_managed }}
[Unit]
Description=Fstat backend server
After=network.target

[Service]
Type=simple
WorkingDirectory=/fstat/code/
ExecStart=/fstat/env/bin/gunicorn -w 4 fstat:app
User={{ user }}
Environment=SENTRY_DSN={{ fstat_config['sentry_dsn'] }}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
