deploy_*.yml
*.swp
*.retry
roles/bastion
roles/salt_transport
roles/httpd
roles/freeipa
roles/openssh
roles/selinux
roles/shell_timeout
roles/rsyslog
roles/builder
roles/ntp
roles/systemd_container
roles/libvirt
roles/munin
roles/lvm_config
roles/memcached
roles/pf_firewall
roles/tor
roles/salt
roles/unattended_updates
roles/postgrey
roles/guest_virt_install
roles/xinetd
roles/postgresql
roles/mariadb
roles/swap_file
roles/polyinst_tmp
