---
- name: Install jenkins builder standard packages
  package:
    state: present
    name:
    - git
    - dbench
    - yajl
    - sudo
    - automake
    - autoconf
    - libtool
    - bison

- name: Enable SCL
  package:
    state: present
    name: centos-release-scl
  when: '"jenkins_builders_rht" in group_names and ansible_distribution == "CentOS"'

- name: Add packages specific to rht builders
  package:
    state: present
    name:
    - python27
    - python-libcloud
    - cppcheck
    - clang
    - clang-analyzer
    - python-docopt
  when: '"jenkins_builders_rht" in group_names and ansible_distribution == "CentOS"'

- name: Install jenkins builder Linux packages
  package:
    state: present
    name:
    # used to be pulled by openssl
    - make
    # needed for some tests
    - net-tools
    # used for smoke.sh, for killall
    - psmisc
    - libacl-devel
    - nfs-utils
    - flex
    - cmockery2-devel
    - perl-Test-Harness
    - openssl-devel
    - lvm2-devel
    - sqlite-devel
    - libxml2-devel
    - python-devel
    - userspace-rcu-devel
    - libibverbs-devel
    - librdmacm-devel
    - libaio-devel
    - clang-analyzer
    # needed to make rpm
    - rpm-build
    - xfsprogs
    # used for testing eventing
    - python-requests
    - python-flask
    - python-prettytable
    # used for build-jobs testing
    - python-virtualenv
    #  - python-argparse
    # used for utils/create-files.py
    - pyxattr
    # used for regression testing
    - attr
    # used for cli
    - ncurses-devel
    - readline-devel
    # tmpwatch to clean /tmp
    - tmpwatch
    - bc
    # required for https://review.gluster.org/#/c/18532/
    - libcurl-devel
    - lcov
    # for GD2 testing, https://bugzilla.redhat.com/show_bug.cgi?id=1617996
    - subversion
    - mercurial
    - bzr
    - golang
  when: ansible_system == 'Linux'

- name: Install jenkins builder Fedora packages
  package:
    state: present
    name:
    - libtirpc-devel
    - rpcgen
# needed for smoke testing on Fedora
# https://bugzilla.redhat.com/show_bug.cgi?id=1623487
    - python3-devel
    - python3-pylint
    - git-clang-format
    - libtsan
# needed for bugs report (need to be ported to python 3)
    - python2-bugzilla

  when: ansible_system == 'Linux' and ansible_distribution == 'Fedora'

- name: Install jenkins builder Centos packages
  package:
    state: present
    name:
    - python-argparse
  when: ansible_system == 'Linux' and ansible_distribution == 'Centos'

- package:
    state: present
    name: "{{ item }}"
  name: Install jenkins builder FreeBSD packages
  when: ansible_system == 'FreeBSD'
  with_items:
  - cmockery2
  - perl5
  - openjdk8-jre
  - sqlite3
  - pkgconf
  - liburcu
  - gmake
# our build script do not seems to work with clang, due to some weird
# argp issue
  - gcc
# adding because it is present on freebsd0.cloud, for parity
  - gsed
  - curl
# requested on https://bugzilla.redhat.com/show_bug.cgi?id=1608707
# debundling
  - e2fsprogs-libuuid
# requested on https://bugzilla.redhat.com/show_bug.cgi?id=1609347
  - argp-standalone

- name: Install jenkins builder jdk for RHEL/Centos/Fedora
  package:
    state: present
    name:
    - java-1.8.0-openjdk
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS' or ansible_distribution == 'Fedora'

- name: Remove package that cause trouble with the regression suite
  package:
    state: absent
    name:
    - qemu-img
    - glusterfs-libs
    - glusterfs
    - glusterfs-api
    - glusterfs-client-xlators
