[Unit]
Description=backend server for softserve
After=network.target
Requires=softserve-celery.service

[Service]
Type=simple
PIDFile=/run/softserve/softserve.pid
WorkingDirectory={{ destination }}/code
ExecStart={{ destination }}/env/bin/gunicorn --pid /run/softserve/softserve.pid -w 4 softserve:app
User={{ user }}

PrivateTmp=true

[Install]
WantedBy=multi-user.target
