---
- name: Install additional dependencies
  package: state=present name={{ item }}
  with_items:
    - python-virtualenv
    - postgresql-devel
    - git
    - gcc

# TODO: Setup Nginx
  name: Copy the nginx config file
  copy: src=nginx.conf dest=/etc/nginx/conf.d/fstat.conf
  notify: restart nginx

- name: Create user for fstat
  user: name=fstat shell=/bin/sh system=yes home=/fstat

- name: Clone fstat repo
  git: repo=https://github.com/gluster/fstat.git dest=/fstat/code update=yes
  become: true
  become_user: fstat
  notify: reload fstat

- name: Create virtualenv
  pip: requirements=/fstat/code/production.txt virtualenv=/fstat/env
  become: true
  become_user: fstat
  notify: reload fstat

- name: Copy fstat.service
  copy: src=fstat.service dest=/etc/systemd/system/fstat.service

- name: Copy fstat.socket
  copy: src=fstat.socket dest=/etc/systemd/system/fstat.socket
